header {
    margin: -10px;
}

.top {
    background-color: black;
    color: white; 
    display: flex;
    justify-content: flex-end; 
    height: 30px; 
    align-items: center;    
}

.top div {
    padding-inline: 12px;
}

#oscar {
    font-size: 30px;
    color: rgb(17, 17, 212);
}

.middle {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border-radius: 30%;
    background-color: white;
    border: 1px solid rgb(17, 17, 212);
    color: rgb(17, 17, 212);
    font-size: 20px;
}

.bottom {
    background-color:blue;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: row;
}

#bottom-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}
img {
    width: 50%;
    background-color: blue;
}
.bottom>footer {
    flex-wrap: wrap;
    width: 100%;
}
